In [2]:
import pandas as pd
import numpy as np

In [3]:
orders_path = "./dataset/Orders.csv"
details_path = "./dataset/Details.csv"

In [4]:
orders = pd.read_csv(orders_path)
details = pd.read_csv(details_path)

print("Orders Shape:", orders.shape)
print("Details Shape:", details.shape)

orders.head()
details.head()

Orders Shape: (500, 5)
Details Shape: (1500, 7)

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [5]:
print("\nOrders Info:")
print(orders.info())

print("\nDetails Info:")
print(details.info())

print("\nMissing Values in Orders:")
print(orders.isnull().sum())

print("\nMissing Values in Details:")
print(details.isnull().sum())

Orders Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      500 non-null    object
 1   Order Date    500 non-null    object
 2   CustomerName  500 non-null    object
 3   State         500 non-null    object
 4   City          500 non-null    object
dtypes: object(5)
memory usage: 19.7+ KB
None

Details Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      1500 non-null   object
 1   Amount        1500 non-null   int64
 2   Profit        1500 non-null   int64
 3   Quantity      1500 non-null   int64
 4   Category      1500 non-null   object
 5   Sub-Category  1500 non-null   object
 6   PaymentMode   1500 non-null   object
dtypes: int64(3), object(4)
memory usage: 82.2+ KB
None

Missing Values in Orders:
Order ID        0
Order Date      0
CustomerName    0
State           0
City            0
dtype: int64

Missing Values in Details:
Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
PaymentMode     0
dtype: int64

In [6]:
orders = orders.drop_duplicates()
details = details.drop_duplicates()

print("Orders Shape After Removing Duplicates:", orders.shape)
print("Details Shape After Removing Duplicates:", details.shape)

Orders Shape After Removing Duplicates: (500, 5)
Details Shape After Removing Duplicates: (1500, 7)

In [7]:
orders = orders.dropna()
details = details.dropna()

In [8]:
orders["Order Date"] = pd.to_datetime(orders["Order Date"], errors='coerce')

orders["Year"] = orders["Order Date"].dt.year
orders["Month"] = orders["Order Date"].dt.month
orders["Month Name"] = orders["Order Date"].dt.month_name()

In [9]:

details["Amount"] = pd.to_numeric(details["Amount"], errors='coerce')
details["Profit"] = pd.to_numeric(details["Profit"], errors='coerce')
details["Quantity"] = pd.to_numeric(details["Quantity"], errors='coerce')

details = details.dropna()

In [10]:

merged_df = pd.merge(orders, details, on="Order ID", how="inner")

print("Merged Dataset Shape:", merged_df.shape)
merged_df.head()

Merged Dataset Shape: (1500, 14)

,Order ID,Order Date,CustomerName,State,City,Year,Month,Month Name,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-26055,2018-10-03,Harivansh,Uttar Pradesh,Mathura,2018.0,10.0,October,5729,64,14,Furniture,Chairs,EMI
1,B-26055,2018-10-03,Harivansh,Uttar Pradesh,Mathura,2018.0,10.0,October,671,114,9,Electronics,Phones,Credit Card
2,B-26055,2018-10-03,Harivansh,Uttar Pradesh,Mathura,2018.0,10.0,October,443,11,1,Clothing,Saree,COD
3,B-26055,2018-10-03,Harivansh,Uttar Pradesh,Mathura,2018.0,10.0,October,57,7,2,Clothing,Shirt,UPI
4,B-26055,2018-10-03,Harivansh,Uttar Pradesh,Mathura,2018.0,10.0,October,227,48,5,Clothing,Stole,COD

In [11]:
merged_df["Profit Margin %"] = (merged_df["Profit"] / merged_df["Amount"]) * 100

merged_df["Revenue Category"] = np.where(
    merged_df["Amount"] > merged_df["Amount"].median(),
    "High Revenue",
    "Low Revenue"
)

In [12]:
print("Negative Profit Records:")
print(merged_df[merged_df["Profit"] < 0].shape)

print("Total Revenue:", merged_df["Amount"].sum())
print("Total Profit:", merged_df["Profit"].sum())

Negative Profit Records:
(529, 16)
Total Revenue: 437771
Total Profit: 36963

In [13]:
merged_df.to_csv("cleaned_ecommerce_data.csv", index=False)

print("Cleaned dataset saved successfully.")

Cleaned dataset saved successfully.